/* assets/css/base.css */

/* Thiết lập cơ bản cho thẻ body,
  áp dụng font chữ mặc định
*/
html {
    height: 100%;
}

body {
    font-family: var(--font-secondary); /* Dùng Montserrat */
    margin: 0;
    padding: 0;
    color: #191919;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% chiều cao màn hình */
}

h1, h2, h3, h4 {
    font-family: var(--font-primary); /* Dùng Lora */
    font-weight: 700;
    margin-top: 0;
    margin-bottom: var(--space-md); /* Dùng biến khoảng cách */
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.563rem;
    line-height: 1.3;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.3;
}

p {
    margin-top: 0;
    margin-bottom: var(--space-md); /* Dùng biến khoảng cách */
    line-height: 1.5; /* Lấy từ design.md */
}

small, .small-text {
    font-size: 0.875rem;
    line-height: 1.4;
}

main {
    flex-grow: 1;
}